

binary/
json/
TransExcel/



#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

gen_csharp.py
trans.bat